@model OrderingFood.Models.User
@{
    ViewData["Title"] = "Đăng ký";
}
<!-- Section: Design Block -->
<section class="text-center p-5" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: auto;
        ">
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Đăng ký ngay</h2>
                    <form asp-controller="Account" asp-action="Register">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="form-outline mb-4">
                                <label asp-for="Name" class="form-label"></label>
                                <input class="form-control" asp-for="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label asp-for="Email" class="form-label"></label>
                            <input class="form-control" asp-for="Email" type="email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label asp-for="Password" class="form-label"></label>
                            <input class="form-control" asp-for="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <!-- Password conf input -->
                        <div class="form-outline mb-4">
                            <label asp-for="ConfPassword" class="form-label"></label>
                            <input class="form-control" asp-for="ConfPassword">
                            <span asp-validation-for="ConfPassword" class="text-danger"></span>
                        </div>

                        <!-- address input -->
                        <div class="form-outline mb-4">
                            <label asp-for="Address" class="form-label"></label>
                            <input class="form-control" asp-for="Address">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <!-- Mobile input -->
                        <div class="form-outline mb-4">
                            <label asp-for="Mobile" class="form-label"></label>
                            <input class="form-control" asp-for="Mobile">
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                            <label class="form-check-label" for="form2Example33">
                                Chấp nhận thông tin đã nhập chính xác.
                            </label>
                        </div>
                        @if (ViewBag.error != null)
                        {
                            <div class="text-danger">@ViewBag.error</div>
                        }
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Đăng ký
                        </button>

                     
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</section>
<!-- Section: Design Block -->