@model OrderingFood.Models.Category

@{
    ViewData["Title"] = "Chỉnh sửa";
}

<h1>Chỉnh sửa danh mục món ăn</h1>

<h4>Danh mục món ăn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <div class="form-group mb-4">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" type="file" name="file" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" type="hidden" />
                <select  class="form-control" id="IsActiveList">
                    <option value=true>Còn phục vụ</option>
                    <option value=false>Không còn phục vụ</option>
                <</select>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate"  class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @ViewData["ErrorMessage"]
                </div>
            }
            <div class="form-group mb-4">
                <input type="submit" value="Lưu" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
